$themes: (
    default: (
        color-brand: #7C87E8,

        color-background: #C3D1F5,
        color-background-button: #7C87E8,
        color-background-button-disabled: #888888,

        color-shadow-button: #4C56B2,
        color-shadow-button-disabled: #555555,

        color-text: #F6F6F6,
        color-text-disabled: #666666,
    ),
);