$themes: (
    default: (
        color-brand: #7C87E8,

        color-background: #C3D1F5,
        color-background-button-primary: #235390,
        color-background-button-success: #58CC02,
        color-background-button-disabled: #888888,

        color-shadow-button-primary: #153256,
        color-shadow-button-success: #58A700,
        color-shadow-button-disabled: #555555,

        color-text: #F6F6F6,
        color-text-disabled: #666666,
    ),
);