$themes: (
    default: (
        color-brand: #7C87E8,

        color-background: #F6F6F6,
        color-background-button-brand: #7c87e8,
        color-background-button-themed: #F6F6F6,
        color-background-button-primary: #03adfc,
        color-background-button-success: #58CC02,
        color-background-button-warning: #ff4b4b,
        color-background-button-disabled: #888888,
        color-background-card: #F6F6F6,
        color-background-textarea: #fcf297,

        color-border-card: #e5e5e5,
        color-border-button-themed: #e5e5e5,
        color-border-textarea: #e5e5e5,

        color-shadow-button-brand: #4c56b2,
        color-shadow-button-themed: #e5e5e5,
        color-shadow-button-primary: #0184cf,
        color-shadow-button-success: #58A700,
        color-shadow-button-warning: #cc3c3c,
        color-shadow-button-disabled: #555555,
        color-shadow-card: #00000011,

        color-text: #F6F6F6,
        color-text-inverted: #3c3c3c,
        color-text-disabled: #666666,
    ),
    dark: (
        color-background: #2D2A2E,
        color-background-button-brand: #AB9DF2,
        color-background-button-themed: #2D2A2E,
        color-background-button-primary: #78DCE8,
        color-background-button-success: #A9DC76,
        color-background-button-warning: #f36b59,
        color-background-button-disabled: #888888,
        color-background-card: #2D2A2E,
        color-background-textarea: #2D2A2E,

        color-border-card: #666666,
        color-border-button-themed: #666666,
        color-border-textarea: #666666,

        color-shadow-button-brand: #8881e7,
        color-shadow-button-themed: #666666,
        color-shadow-button-primary: #5aafe0,
        color-shadow-button-success: #81ca51,
        color-shadow-button-warning: #cc413c,
        color-shadow-button-disabled: #555555,
        color-shadow-card: #00000011,

        color-text: #3c3c3c,
        color-text-inverted: #f6f6f6,
    ),
);