@import '../utils/_mixins';

.Button {
    @include theme-aware('background-color', 'color-background-button');
    @include theme-aware('color', 'color-text');
    @include theme-aware-shadow(0 6px, 'color-shadow-button');

    border-radius: 0.5rem;
	border: none;
	margin: 0 1rem;
    padding: 0.375rem 0.75rem;
    cursor: pointer;

    &:disabled {
        @include theme-aware('background-color', 'color-background-button-disabled');
        @include theme-aware('color', 'color-text');
        @include theme-aware-shadow(0 6px, 'color-shadow-button-disabled');

        cursor: not-allowed;
    }

	&:not(:disabled):active:focus {
		transform: translateY(2px);
		border: none;
	}
}