@import '../utils/_mixins';

.Button {
    @include theme-aware('color', 'color-text');
    @include theme-aware('background-color', 'color-background-button-primary');
    @include theme-aware-shadow(0 6px, 'color-shadow-button-primary');

    border-radius: 0.5rem;
	border: none;
	margin: 0 0.5rem 6px 0.5rem;
    padding: 0.375rem 0.75rem;
    font-weight: bold;
    outline: none;
    cursor: pointer;

    &.brand {
        @include theme-aware('background-color', 'color-background-button-brand');
        @include theme-aware-shadow(0 6px, 'color-shadow-button-brand');
    }

    &.light {
        @include theme-aware('color', 'color-text-inverted');
        @include theme-aware('background-color', 'color-background-button-light');
        @include theme-aware('border-color', 'color-border-button-light');
        @include theme-aware-shadow(0 6px, 'color-shadow-button-light');
        border: 2px solid;
    }

    &.success {
        @include theme-aware('background-color', 'color-background-button-success');
        @include theme-aware-shadow(0 6px, 'color-shadow-button-success');
    }

    &:disabled {
        @include theme-aware('background-color', 'color-background-button-disabled');
        @include theme-aware-shadow(0 6px, 'color-shadow-button-disabled');

        cursor: not-allowed;
    }

	&:not(:disabled):active:focus {
        @include theme-aware-shadow(0 4px, 'color-shadow-button-primary');

		transform: translateY(2px);
        border: none;
        
        &.brand {
            @include theme-aware-shadow(0 4px, 'color-shadow-button-brand');
        }

        &.light {
            @include theme-aware-shadow(0 4px, 'color-shadow-button-light');
            @include theme-aware('border-color', 'color-border-button-light');
            border: 2px solid;
        }

        &.success {
            @include theme-aware-shadow(0 4px, 'color-shadow-button-success');
        }
	}
}